<div class="action-bar" *ngIf="authService.loggedIn">
  <span class="fill-remaining-space"></span>
  <button mat-raised-button class="action-bar-button" (click)="clearWeeks()"
    color="warn">
    <mat-icon>delete_sweep</mat-icon> Löschen
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button class="action-bar-button color-white" (click)="newWeek()"
    color="accent">
    <mat-icon>playlist_add</mat-icon> Neuer Eintrag
  </button>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button class="action-bar-button color-white" (click)="save()"
    color="accent" [disabled]="weeks.length<=0 ">
    <mat-icon>playlist_add</mat-icon> Speichern und Download
  </button>
  <span class="fill-remaining-space"></span>
</div>

<div class="accordion-content" *ngIf="authService.loggedIn">
  <mat-accordion *ngIf="settings.settings">
    <input-week *ngFor="let week of weeks" [week]="week" [departments]="departments"
      [step]="step" (stepChanged)="stepChanged($event)"
      matExpansionPanelContent></input-week>
  </mat-accordion>
</div>
<div *ngIf="weeks.length === 0 && authService.loggedIn" class="centered">
  <h1>Keine Wochen vorhanden.. </h1>
  <h1>Um neue Wochen einzutragen klicke unten auf den Button</h1>
</div>

<div *ngIf="!authService.loggedIn" class="centered">
  <h1>Nicht eingeloggt</h1>
  <h1>Melde dich an um alle Funktionen der App zu nutzen</h1>
</div>