<mat-card *ngIf="notification.currentDuration !== notification.duration" [@slideInOut]
  [ngStyle]="{'background-color':getBackgroundColor(), 'color': getColor()}">
  <mat-card-content>
    <button mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="text">
      {{notification.text}}
    </div>
    <div class="progress" [ngStyle]="{'background-color':getBackgroundColor()}">
      <div class="progress-bar" role="progressbar" [ngStyle]="{'width':progressbarvalue+'%', 'background-color':getColor()}"
        aria-valuenow="progressbarvalue" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </mat-card-content>
</mat-card>