<h2 mat-dialog-title>Füg hier deine Daten ein</h2>
<h4 mat-dialog-subtitle>Die Daten müssen ein valides
  <a target="_blank" rel="noopener noreferrer" href="https://jsonformatter.curiousconcept.com/">JSON-Format</a> besitzen</h4>
<mat-dialog-content>
  <mat-form-field>
    <textarea matInput placeholder="Importdaten" (keyup.enter)="onSave()" [formControl]="importControl"
      required [cdkTextareaAutosize]="true" [cdkAutosizeMinRows]="5" [cdkAutosizeMaxRows]="10"></textarea>
    <mat-error>Falsches Format</mat-error>
  </mat-form-field>
  <mat-checkbox [(ngModel)]="checked">Sofortiger Download</mat-checkbox>
</mat-dialog-content>

<mat-dialog-actions [attr.align]="'center'">
  <button mat-raised-button color="primary" mat-dialog-close (click)="onSave()" [disabled]="!importControl.valid">Speichern</button>
</mat-dialog-actions>