<mat-card>
  <mat-card-title>Ausbildungsnachweis Generator</mat-card-title>
  <mat-card-subtitle *ngIf="loggedIn && afAuth.auth.currentUser">
    <button mat-stroked-button (click)="logout()">Ausloggen</button>
    Eingeloggt als {{afAuth.auth.currentUser.displayName}}
  </mat-card-subtitle>
  <mat-card-subtitle *ngIf="!loggedIn">
    <button mat-stroked-button (click)="login()">Einloggen</button>
  </mat-card-subtitle>
  <span class="flex">
    <span class="fill-remaining-space"></span>
    <button mat-button [routerLink]="['']">
      <mat-icon class="color-primary">home</mat-icon> Home
    </button>
    <button mat-button [routerLink]="['/importexport']">
      <mat-icon class="color-primary">import_export</mat-icon> Import & Export
    </button>
    <button mat-button [routerLink]="['/pages/settings']" *ngIf="loggedIn">
      <mat-icon class="color-primary">settings</mat-icon> Einstellungen
    </button>
    <button mat-button [routerLink]="['/pages/']">
      <mat-icon class="color-primary">help</mat-icon> Hilfe
    </button>
    <span class="fill-remaining-space"></span>
  </span>
</mat-card>