<div class="floating-div-top-right">
  <button routerLink="/help" mat-fab class="background-error">
    <mat-icon class="color-white">help</mat-icon>
  </button>
  <button routerLink="/settings" mat-fab class="background-error">
    <mat-icon class="color-white">settings</mat-icon>
  </button>
  <button routerLink="/" mat-fab color="accent">
    <mat-icon class="color-white">home</mat-icon>
  </button>
</div>

<mat-card>
  <mat-card-header>
    <h1>Export & Import</h1>
  </mat-card-header>
  <h3 class="centered">Datenformat</h3>
  <p class="centered">Damit die Daten richtig akzepiert werden ist folgendes Datenformat zu beachten:
  </p>
  <mat-divider></mat-divider>
  <div class="code">
    <code><pre>{{importObject |json}}</pre></code>
  </div>
  <mat-divider></mat-divider>
  <p class="centered">Probier es aus, indem du einfach den aktuellen Stand exportierst.</p>
  <p class="centered">
    <b>Achte darauf, die Kommas direkt vor den Klammern zu entfernen!</b>
  </p>
</mat-card>

<div class="floating-div-bottom-right">
  <button mat-raised-button (click)="import()" color="warn" class="color-white">
    <mat-icon>keyboard_arrow_up</mat-icon> Import
  </button>
  <button mat-raised-button (click)="export()" color="warn" class="color-white">
    <mat-icon>keyboard_arrow_down</mat-icon> Export
  </button>
</div>