<mat-expansion-panel *ngIf="departments">
  <mat-expansion-panel-header>
    <b>Nr {{getAusbildungsnachweisNr()}} </b> ---- {{week.date | date: 'dd. MMMM yyyy'}} ---- {{week.department}}
  </mat-expansion-panel-header>

  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="column">
        <mat-select placeholder="Abteilung" formControlName="department" name="departments">
          <mat-option *ngFor="let department of departments" [value]="department">
            {{department}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="column">
        <input matInput [matDatepickerFilter]="onlyMondays" [matDatepicker]="picker1" placeholder="Startdatum"
          formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field *ngFor="let hour of hours" class="column">
        <input type="number" matInput formControlName="{{hour.value}}" required placeholder="Stunden {{hour.day}}">
        <mat-error *ngIf="get(hour.value).invalid && (get(hour.value).dirty || get(hour.value).touched)">Bitte Vornamen eingeben</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="column">
        <textarea matInput formControlName="contentMo" placeholder="Montag" [cdkTextareaAutosize]="true"
          [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="8"></textarea>
        <mat-error *ngIf="get('contentMo').invalid ">Bitte den Inhalt für Montag eingeben</mat-error>
      </mat-form-field>

      <mat-form-field class="column">
        <textarea matInput formControlName="contentDi" placeholder="Dienstag" [cdkTextareaAutosize]="true"
          [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="8"></textarea>
        <mat-error *ngIf="get('contentDi').invalid">Bitte den Inhalt für Dienstag eingeben</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="column">
        <textarea matInput formControlName="contentMi" placeholder="Mittwoch" [cdkTextareaAutosize]="true"
          [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="8"></textarea>
        <mat-error *ngIf="get('contentMi').invalid">Bitte den Inhalt für Mittwoch eingeben</mat-error>
      </mat-form-field>

      <mat-form-field class="column">
        <textarea matInput formControlName="contentDo" placeholder="Donnerstag" [cdkTextareaAutosize]="true"
          [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="8"></textarea>
        <mat-error *ngIf="get('contentDo').invalid">Bitte den Inhalt für Donnerstag eingeben</mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="column">
        <textarea matInput formControlName="contentFr" placeholder="Freitag" [cdkTextareaAutosize]="true"
          [cdkAutosizeMinRows]="2" [cdkAutosizeMaxRows]="8"></textarea>
        <mat-error *ngIf="get('contentFr').invalid">Bitte den Inhalt für Freitag eingeben</mat-error>
      </mat-form-field>
    </div>
  </form>

  <mat-action-row [attr.align]="'center'">
    <button mat-button class="color-warn" (click)="delete(week)">
      <mat-icon>delete</mat-icon> Löschen
    </button>
    <button mat-button class="color-error" (click)="duplicate(week)">
      <mat-icon>file_copy</mat-icon> Duplizieren
    </button>
  </mat-action-row>

</mat-expansion-panel>