<button mat-fab class="fab-button" color="accent">
  <a routerLink="/" class="color-white">
    <mat-icon>home</mat-icon>
  </a>
</button>

<mat-card *ngIf="form">
  <mat-card-header>
    <h1>Settings</h1>
  </mat-card-header>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="column">
        <input matInput formControlName="surname" required placeholder="Vorname">
        <mat-error *ngIf="surname.invalid && (surname.dirty || surname.touched)">Bitte Vornamen eingeben</mat-error>
      </mat-form-field>
      <mat-form-field class="column">
        <input matInput formControlName="name" required placeholder="Nachname">
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Bitte Nachnamen eingeben</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="column">
        <input matInput formControlName="beruf" required placeholder="Beruf">
        <mat-error *ngIf="beruf.invalid && (beruf.dirty || beruf.touched)">Bitte Beruf eingeben</mat-error>
      </mat-form-field>
      <mat-form-field class="column">
        <input matInput [matDatepicker]="picker1" placeholder="Startdatum" formControlName="ausbildungsStart">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  <mat-card-actions [attr.align]="'center'">
    <button [disabled]="!form.valid" mat-button color="accent" (click)="save()">Speichern</button>
  </mat-card-actions>
</mat-card>