<div class="floating-div-top-right">
  <button routerLink="/help" mat-fab class="background-error">
    <mat-icon class="color-white">help</mat-icon>
  </button>
  <button routerLink="/" mat-fab color="accent">
    <mat-icon class="color-white">home</mat-icon>
  </button>
</div>

<br>

<mat-card *ngIf="form">
  <mat-card-header>
    <h1>Einstellungen</h1>
  </mat-card-header>
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="column">
        <input matInput formControlName="vorname" required placeholder="Vorname">
        <mat-error *ngIf="get('vorname').invalid && (get('vorname').dirty || get('vorname').touched)">Bitte Vornamen eingeben</mat-error>
      </mat-form-field>
      <mat-form-field class="column">
        <input matInput formControlName="nachname" required placeholder="Nachname">
        <mat-error *ngIf="get('nachname').invalid && (get('nachname').dirty || get('nachname').touched)">Bitte Nachnamen eingeben</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="column">
        <input matInput formControlName="beruf" required placeholder="Beruf">
        <mat-error *ngIf="get('beruf').invalid && (get('beruf').dirty || get('beruf').touched)">Bitte Beruf eingeben</mat-error>
      </mat-form-field>
      <mat-form-field class="column">
        <input matInput [matDatepicker]="picker1" placeholder="Startdatum" formControlName="ausbildungsStart">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="column">
        <input matInput formControlName="spe" required placeholder="Vorname">
        <mat-error *ngIf="get('spe').invalid && (get('spe').dirty || get('spe').touched)">Bitte Spe eingeben</mat-error>
      </mat-form-field>
      <mat-form-field class="column">
        <input matInput formControlName="atiw" required placeholder="Atiw">
        <mat-error *ngIf="get('atiw').invalid && (get('atiw').dirty || get('atiw').touched)">Bitte Atiw eingeben</mat-error>
      </mat-form-field>
      <mat-form-field class="column">
        <input matInput formControlName="praxis" required placeholder="Praxisphase">
        <mat-error *ngIf="get('praxis').invalid && (get('praxis').dirty || get('praxis').touched)">Bitte Praxisphase eingeben</mat-error>
      </mat-form-field>
    </div>
  </form>
  <mat-card-actions [attr.align]="'center'">
    <button [disabled]="!form.valid" mat-button color="accent" (click)="save()">Speichern</button>
  </mat-card-actions>
</mat-card>